.flex-center-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.flex-center-horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  left: 0;
  height:100%;
  border-right: 1px solid blue;
  padding: 10px 55px 10px 40px;
}

.sidebar-section{

}

.sidebar-footer{
  margin-top: auto;
  margin-bottom: 10px;
}
